.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  border: 1px solid rgb(208, 208, 208);
  .title{
    width: 474px;
    font-size: 22px;
    font-weight: 500;
  }
}
